.product_list{
    position: relative;
    margin: 50px 50px;
    max-width: 1000px;
}

.product_list .addBtn, .product_list .backBtn{
    position: absolute;
    left: 0;
    top: -30px;
    border: 1px solid;
    padding: 2px 5px;
    text-decoration: none;
}

.product_list .backBtn{
    left: 100px;
}

.product_list .content{
    padding: 10px 0;
    margin: 10px 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-size: 0;
}

.product_list .content .product_item{
    position: relative;
    display: inline-block;
    width: 19%;
    margin-left: 1.25%;
    margin-bottom: 1.25%;
}

.product_list .content .product_item:nth-child(5n+1){
    margin-left: 0; 
}

.product_list .content .product_item::after{
    content: "";
    display: block;
    clear: both;
}
.product_list .content .product_item .imgBox{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.product_list .content .product_item .imgBox img{
    width: 100%;
    visibility: hidden;
}


.product_list .content .product_item span.product_name{
    position: relative;
    font-size: 16px;
    width: 99%;
    text-align: center;
    display: block;
    letter-spacing: 5px;
    border: 1px solid;
    margin-bottom: 1%;
}

.product_list .content .product_item span.product_price{
    position: relative;
    font-size: 12px;
    float: right;
    right: 10px;
    color: blue;
}

.product_list .content .product_item  .add_btn{
    font-size: 12px;
    display: block;
    width: 99%;
    text-align: center;
    text-decoration: none;
    border: 1px solid;
    margin-top: 5px;
    padding: 2px 0;
    clear: both;
}

.product_list .more_btn{
    text-align: center;
    font-size: 16px;
    width: 100px;
    margin: 0 auto;
    background: #6161f5;
    color: #fff;
    cursor: pointer;
}